  body
  {
    color: white;
    background: #BA55D3;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .nameOfObjects, #resultObjectName  , #resultObjectAccuracy
  {
    color: 	orange;
    font-family: 'Permanent Marker', cursive;
    font-size: 30;
  }
